.container {
  font-size: 24px;
  margin-bottom: 24px;
}

.buttonsWrapper > *:first-child {
  margin-right: 14px;
}

.addressFieldContainer {
  margin: 20px 0;
}
.formGroup {
  display: flex;
}

.addressInput {
  width: 100%;
  border-radius: 0;
  border-width: 2px;
  box-shadow: none;
  padding: 8px 12px;
  height: auto;

  &:focus {
    outline: none;
    box-shadow: none;
    border-color: #3f51b5;
  }
}

.addressField {
  flex-grow: 1;
  margin-right: 12px;
}
